In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/rushmash/Desktop/HIV/CSVs/hindu_articles.csv')
df.head(5)

,name,date,location,category,author,body
0,Juvenile users of Chinese gay app contract HIV,"January 06, 2019",Health,"Sci-Tech,Health",NaN,Chinese gay dating app Blued is halting new us...
1,21dcangr-ctte-cGNE54S5ME3jpgjpg,"December 28, 2018",DOWN TOWN,"Today's Paper,FEATURES,DOWN TOWN",NaN,Students stage a dance based on the theme of HIV.
2,A year that saw Tamil Nadu's health sector sta...,"December 30, 2018",Tamil Nadu,"News,States,Tamil Nadu",Serena Josephine M,The year was one of ups and downs for the heal...
3,‘Many combination drugs not approved by regula...,"December 11, 2018",NATIONAL,"Today's Paper,NATIONAL",Afshan Yasmeen,Of the 110 anti-TB (tuberculosis) Fixed Dose C...
4,HIV reality check,"December 31, 2018",OPINION,"Today's Paper,OPINION",NaN,A 23-year-old pregnant woman in Tamil Nadu tes...

In [9]:
df.columns

Index(['name', 'date', 'location', 'category', 'author', 'body'], dtype='object')

In [10]:
type(df.columns)

pandas.core.indexes.base.Index

In [14]:
df2 = pd.DataFrame()
for field in list(df.columns):
    df2[field] = df[field].str.lower()
df2.head()

,name,date,location,category,author,body
0,juvenile users of chinese gay app contract hiv,"january 06, 2019",health,"sci-tech,health",NaN,chinese gay dating app blued is halting new us...
1,21dcangr-ctte-cgne54s5me3jpgjpg,"december 28, 2018",down town,"today's paper,features,down town",NaN,students stage a dance based on the theme of hiv.
2,a year that saw tamil nadu's health sector sta...,"december 30, 2018",tamil nadu,"news,states,tamil nadu",serena josephine m,the year was one of ups and downs for the heal...
3,‘many combination drugs not approved by regula...,"december 11, 2018",national,"today's paper,national",afshan yasmeen,of the 110 anti-tb (tuberculosis) fixed dose c...
4,hiv reality check,"december 31, 2018",opinion,"today's paper,opinion",NaN,a 23-year-old pregnant woman in tamil nadu tes...